<h2><%= t 'sessions.new.title' %></h2>

<% if @user.error %>
  <%= t @user.error %>
<% end %>

<%= form_for(:user, as: :user, url: open_session_path, method: :post) do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit :login %>
  </p>

<% end %>

